APPIUM_HOST=http://127.0.0.1:4723

# Android: run `adb devices` to find your emulator name
ANDROID_DEVICE_NAME=emulator-5554
ANDROID_PLATFORM_VERSION=14.0
ANDROID_APP_PATH=apps/my-demo-app-android.apk

# iOS: run `xcrun simctl list devices | grep iPhone` to find your simulator name
IOS_DEVICE_NAME=iPhone 15
IOS_PLATFORM_VERSION=17.0
IOS_APP_PATH=apps/my-demo-app-ios.app.zip
